gunicorn

certifi==2020.6.20
click==8.0.4
colorama==0.4.4
fastcache==1.1.0
flask==1.1.2
itsdangerous==2.0.1
jinja2==3.0.3
markupsafe==2.0.1
mpmath==1.1.0
sympy==1.6.2
werkzeug==2.0.3
wheel==0.37.1
wincertstore==0.2
