<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='style.css') }}>    
</head> 
<body>
    <p style="color: red;">{{ context.status|safe }}</p>
    <form method="POST">
        <table class="inputTable">
            <tr>
                <td><label>Enter loss function <i>C<sub>f</sub></i></label></td>
                <td>
                    <input type="text" id="fn" name="fn" required
                    value={{ context.defaults.fn }}>
                </td>
                <td>
                    <div class="tooltip">(?)
                        <span class="tooltipText">
                            Use x for single variable. Use x, y for two variables.
                        </span>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="radio" colspan="3">
                    <input type="radio" id="single" name="numVar" value="1" {{ context.defaults.numVar1 }}>
                    <label for="single"><i>x</i> only</label>
                    <input type="radio" id="double" name="numVar" value="2" {{ context.defaults.numVar2 }}>
                    <label for="double"><i>x</i> and <i>y</i></label>
                </td>
            </tr>

            <tr>
                <td><label>Enter initial value for <i>x</i> </label></td>
                <td>
                    <input type="text" id="x0" name="x0" required
                    value={{ context.defaults.x0 }}>
                </td>
                <td>
                    <div class="tooltip">(?)
                        <span class="tooltipText">The initial value of x</span>
                    </div>
                </td>
            </tr>

            <tr>
                <td><label>Enter initial value for <i>y</i> </label></td>
                <td>
                    <input type="text" id="y0" name="y0" required
                    value={{ context.defaults.y0 }}>
                </td>
                <td>
                    <div class="tooltip">(?)
                        <span class="tooltipText">
                            The initial value of y. Not relevant for single variable
                        </span>
                    </div>
                </td>
            </tr>

            <tr>
                <td><label>Enter learning rate </label></td>
                <td>
                    <input type="number" id="eta" name="eta" required
                    min="0" max="0.2" step="0.01" value={{ context.defaults.eta }}>
                </td>
                <td>
                    <div class="tooltip">(?)
                        <span class="tooltipText">Enter a value from 0 to 0.2</span>
                    </div>
                </td>
            </tr>

            <tr>
                <td><label>Enter number of iterations </label></td>
                <td>
                    <input type="number" id="numIter" name="numIter" required 
                    min="1" max="20" step="1" value={{ context.defaults.numIter }}>
                </td>
                <td>
                    <div class="tooltip">(?)
                        <span class="tooltipText">Enter an integer from 1 to 20</span>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <input class="submitButton" type="submit" value="Calculate">
                </td>
            </tr>      
        </table>    
    </form>

    <br/>

    <p> Gradient: </p>
    <p>&nabla;<i><sub>x</sub></i> = {{ context.dfx }} </p>
    <p>&nabla;<i><sub>y</sub></i> = {{ context.dfy }} </p>

    <br/>

    <table class="valTable">
        <tr>
            <th>#Iter</th>
            <th>Value of <i>x</i></th>
            <th>Value of <i>y</i></th>
            <th>Value of <i>C<sub>f</sub></i></th>
        </tr>
        {% for i in range(context.res | length) %}
        <tr>
            <td> {{ i + 1 }} </td>
            <td> {{ context.res[i].0 }} </td>
            <td> {{ context.res[i].1 }} </td>
            <td> {{ context.res[i].2 }} </td>
        </tr>
        {% endfor %}
    </table>
    

</body>
</html>
